---
---
@import "breakpoints";

main {
    > div {
        @media (min-width: $breakpoint-small) {
            margin-right: 30px;
        }
        @media (min-width: $breakpoint-medium) {
            margin-right: 35px;
        }
        @media (min-width: $breakpoint-largest) {
            margin-right: 200px;
        }
    }
}
