---
---
@import "breakpoints";

textarea {
    background-color: #000000;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.introduction {
    p:first-of-type {
        margin-top: 0;
    }
}

.cryptocurrencies {
    > div {
        @media (min-width: $breakpoint-medium) {
            display: flex;
            justify-content: space-around;
        }
        > div {
            @media (max-width: $breakpoint-medium - 1px) {
                display: block;
                margin: auto;
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
            }
            max-width: 600px;
            @media (min-width: $breakpoint-smallest) {
                max-width: 500px;
            }
            @media (min-width: $breakpoint-medium) {
                max-width: 400px;
            }
            * {
                display: block;
            }
            h3 {
                margin: 0 0 8px 0;
                text-align: center;
            }
            img {
                margin: auto;
                margin-bottom: 5px;
            }
            textarea {
                height: 46px;
                @media (min-width: $breakpoint-medium) {
                    height: 65px;
                }
            }
        }
    }
}

.pgpSignedMessage {

    textarea {
        height: 388px;
    }
}
