---
---
@import "breakpoints";

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 25px 50px; /* row-gap column gap */
    article {
        width: 285px;
        .title {
            color: #00ff00;
            font-size: 18px;
            padding-bottom: 5px;
        }
    }
}
