---
---
@import "breakpoints";

main {
    word-wrap: break-word;
    @media (min-width: $breakpoint-small) {
        padding-right: 5px;
    }
    @media (min-width: $breakpoint-medium) {
        padding-right: 10px;
    }
    > h2 {
        &:first-of-type {
            font-size: 24px;
            margin-bottom: 15px;
        }
        &:not(:first-of-type) {
            //margin-bottom: 10px;
        }
    }
    > p {
        margin-bottom: 30px;
    }
    > article {
        h3 {
            margin-top: 30px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 20px;
        }
        table {
            max-width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            th, td {
                text-align: center;
                border: 1px dotted #00bb00;
                word-break: break-all;
                padding: 2px;
                @media (min-width: $breakpoint-medium) {
                    padding: 5px;
                }
                @media (min-width: $breakpoint-large) {
                    padding: 15px;
                }
            }
        }
        &:first-of-type {
            h3 {
                margin-top: 10px;
            }
        }
    }
}
