---
---
@import "breakpoints";

main {
    h1.title {
        color: #00ff00;
        font-size: 30px;
        @media (min-width: $breakpoint-medium) {
            font-size: 32px;
        }
        margin-top: 0;
        margin-bottom: 5px;
    }
    div.metadata {
        margin-bottom: 25px;
        .item {
            display: inline-block;
        }
        @media (max-width: $breakpoint-smallest) {
            .item {
                display: block;
            }
            .metadataSeperator {
                display: none;
            }
        }
    }
    > div.content {
        h2 {
            padding-top: 10px;
            margin-bottom: 0px;
        }
        p {
            line-height: 1.5;
        }
        @media (min-width: $breakpoint-small) {
            margin-right: 30px;
        }
        @media (min-width: $breakpoint-medium) {
            margin-right: 35px;
        }
        @media (min-width: $breakpoint-largest) {
            margin-right: 200px;
        }
        img {
            margin: 5px 0;
            display: block;
        }
        .imgWrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            img {
                max-width: 300px;
            }
        }
        code {
            background-color: #343434;
            color: #00ff00;
            opacity: 0.8;
            padding: 2px 5px;
            border-radius: 6px;
        }
    }
}
