<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    {% for stylesheet in page.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet.path | relative_url }}" />
    {% endfor %}
    {% if page.is_post %}
      <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}" />
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <nav>
      <a class="navHeader glitch" href="{{ '/' | relative_url }}" data-text="Frederik Holm Strøm">Frederik Holm Strøm</a>
      <ul>
        {% for item in site.data.pages %}
          <li class="{% if item.url == page.url %}active{% endif %}">
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <section class="primary">
      <main>
        {{ content }}
      </main>
      <aside>
        <ul>
          <li><a href="https://www.linkedin.com/in/frederikstroem/" target="_blank"><i class="fa-brands fa-linkedin fa-fw" aria-hidden="true"></i> LinkedIn</a></li>
          <li><a href="https://github.com/frederikstroem" target="_blank"><i class="fa-brands fa-github fa-fw" aria-hidden="true"></i> GitHub</a></li>
          <li><a href="https://keyoxide.org/9ea6c866165a3a8608be3568ea2dc27e87a494f2" target="_blank"><i class="fa-solid fa-key fa-fw" aria-hidden="true"></i> Keyoxide</a></li>
          <li><a href="https://fosstodon.org/@frederikstroem" target="_blank"><i class="fa-brands fa-mastodon fa-fw" aria-hidden="true"></i> Mastodon</a></li>
          <li><a href="https://matrix.to/#/@frederikstroem:matrix.org" target="_blank"><i class="fa-solid fa-message fa-fw" aria-hidden="true"></i> Matrix</a></li>
          <li><a href="https://open.spotify.com/user/katofln" target="_blank"><i class="fa-brands fa-spotify fa-fw" aria-hidden="true"></i> Spotify</a></li>
          <li><a href="{{ '/feed.xml' | relative_url }}" target="_blank"><i class="fa-solid fa-square-rss fa-fw" aria-hidden="true"></i> RSS</a></li>
        </ul>
      </aside>
    </section>
    <footer>
      <ul>
        <li><a href="https://github.com/frederikstroem/frederikstroem.github.io" target="_blank"><i class="fa-solid fa-code fa-fw" aria-hidden="true"></i> Website source code</a></li>
        <li><a href="{{ '/sitemap.xml' | relative_url }}" target="_blank"><i class="fa-solid fa-sitemap fa-fw" aria-hidden="true"></i> Sitemap</a></li>
        <li><a href="https://stats.uptimerobot.com/w5LxmHv3Gl" target="_blank"><i class="fa-solid fa-heartbeat fa-fw" aria-hidden="true"></i> Uptime</a></li>
      </ul>
    </footer>
  </body>
</html>
