---
layout: default
stylesheet_path: "/assets/css/post.min.css"
---
<section class="section mt-1">
    <div class="container">
        <h1 class="title">{{ page.title }}</h1>
        <h2 class="subtitle">Published: {{ page.date | date: site.date_format }}{% if page.last_modified %} · Last modified: {{ page.last_modified | date: site.date_format }}{% endif %}</h2>
    </div>
</section>

<div class="container container-touch-padding-fix mb-6">
    <div class="content">
        {% include anchor_headings.html html=content anchorBody='<i class="fas fa-link"></i>' anchorClass='header-anchor' %}
    </div>
</div>
